
body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url("bilder/gewürze.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    margin: 0;
    padding: 10px;
    color: #ffffff;
    background-color: hsl(39, 75%, 75%);
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

nav a:hover{
    color:rgb(27, 108, 214)
}


.flexbox {
    display: flex;
    flex-direction: column;
    width: 280px;
    border: black solid 1px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.flexbox:hover {
    transform: scale(1.03);
}

img {
    width: 280px;
    height: 210px;
    overflow: hidden;
}

.flexbox ul {
    text-align: left;
    list-style: none;
    padding-left: 20px;
    line-height: 2.0;
}

.flexbox h3 {
    text-align: center;
    font-size: 25px;
}

.a {
    background-color: hsl(69, 75%, 82%)
}

.b {
    background-color: hsl(39, 75%, 82%)
}

.c {
    background-color: hsl(234, 76%, 82%)
}
.d{
    background-color: hsl(0, 76%, 82%)
}

.beschreibung {
    display: flex;
}

.ueberkategorie {
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

main {
    background-color: rgb(248, 234, 214);
}

nav {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(221, 220, 220);
    border: solid 1px black;
    font-size: 20px;
}

h1 {
    border: solid 2px rgb(255, 255, 255);
    margin: 0 40px;
    padding: 10px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    padding-top: 30px;
    border-top: solid 1px black;
    font-size: 40px;
}

@media (min-width: 1550px) {

    .ueberkategorie {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        }
    
        main {
            margin: 40px;
            padding: 10px;
        }
    
        nav {
            width: 300px;
            margin: 40px;
        }

        h1 {
            font-size: 50px;
        }    
    
        h2 {
            margin-bottom: 50px;
        }

}

@media (min-width: 970px) and (max-width: 1550px) {

    .ueberkategorie {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        }
    
        main {
            margin: 40px;
            padding: 10px;
        }
    
        nav {
            width: 300px;
            margin: 40px;
        }

        h1 {
            font-size: 50px;
        }    
    
        h2 {
            margin-bottom: 50px;
        }
}

@media (max-width: 970px) {

    .ueberkategorie {
        margin-bottom: 70px;
        }

        main {
            margin: 20px;
            padding: 5px;
        }
    
        nav {
            width: auto;
            margin: 20px;
        }

        h1 {
            font-size: 30px;
        }

        h2 {
            margin-bottom: 20px;
        }
    
}


