
body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url("bilder/gewürze.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    margin: 0;
    padding: 10px;
    color: #ffffff;
    background-color: hsl(34, 75%, 55%);
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

nav a:hover{
    color:rgb(27, 108, 214)
}


.flexbox {
    display: flex;
    flex-direction: column;
    width: 280px;
    border: black solid 1px;
    margin: 50px auto;
    border-radius: 5px;
}


img {
    width: 280px;
    height: 210px;
    overflow: hidden;
}

.flexbox ul {
    text-align: left;
    list-style: none;
    padding-left: 20px;
    line-height: 2.0;
}

.flexbox h3 {
    text-align: center;
    font-size: 25px;
}

.a {
    background-color: hsl(69, 75%, 82%)
}

.b {
    background-color: hsl(39, 75%, 82%)
}

.c{
    background-color: hsl(9, 75%, 82%)
}

.beschreibung {
    display: flex;
}

@media (min-width: 768px) {

    .suppen, .brote, .sonstiges {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-bottom: 70px;
        justify-content: center;
        align-items: center;
        }
    
        main {
            margin: 40px;
            padding: 10px;
            background-color: rgb(248, 234, 214);
        }
    
        nav {
            height: 300px;
            overflow-y: scroll;
            overflow-x: hidden;
            width: 300px;
            background-color: rgb(221, 220, 220);
            margin: 50px;
            border: solid 1px black;
            font-size: 20px;
        }

        h1 {
            border: solid 2px rgb(255, 255, 255);
            margin: 0 40px;
            padding: 10px;
            border-radius: 10px;
            font-size: 50px;
        }    
    
        h2 {
            text-align: center;
            margin-bottom: 50px;
            padding-top: 30px;
            border-top: solid 1px black;
            font-size: 40px;
        }
}

@media (max-width: 767px) {
    .suppen, .brote, .sonstiges {
        margin-bottom: 70px;
        justify-content: center;
        align-items: center;
        }

        main {
            margin: 20px;
            padding: 5px;
            background-color: rgb(248, 234, 214);
        }
    
        nav {
            height: 300px;
            overflow-y: scroll;
            overflow-x: hidden;
            width: auto;
            background-color: rgb(221, 220, 220);
            margin: 20px;
            border: solid 1px black;
            font-size: 20px;
        }

        h1 {
            border: solid 2px rgb(255, 255, 255);
            margin: 0 40px;
            padding: 10px;
            border-radius: 10px;
            font-size: 30px;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
            padding-top: 30px;
            border-top: solid 1px black;
            font-size: 40px;
        }
}
